name: Build and Push Docker Image

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set image timestamp tag
        id: vars
        run: |
          echo "IMAGE_TAG=$(TZ=Asia/Kolkata date +'%Y%m%d%H%M%S')" >> $GITHUB_OUTPUT
          echo "IMAGE_REPO=ghcr.io/${GITHUB_REPOSITORY,,}" >> $GITHUB_OUTPUT

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ steps.meta.outputs.tags }}
            ${{ steps.vars.outputs.IMAGE_REPO }}:${{ steps.vars.outputs.IMAGE_TAG }}
          labels: ${{ steps.meta.outputs.labels }}
